@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&display=swap');


.col{
    padding-top: 350px;
}
.mouse{   
    padding-top: 390px;
}
.home{
    background-image: url("images/h_img.jpg");
    height: 1200px; 
    width: 1920; 
    background-repeat: no-repeat;
    position: relative;
    top: 80px;
}
.wel{
    position: relative;
    top: 53px;
    color: white;
}
.TDS{
    position: relative;
    top: 130px;
    color: white;
}
.about-section{
    position: relative;
    top: 100px;

}
.wd{
    position: relative;
    background-image: url("images/s_image.jpg");
    color: white;
    height: 400PX;
    background-repeat: no-repeat;
    top: 150px;
}
.ser{
    padding-top: 150px;
}
.worksection{
    padding-top: 250px;
}
.DSN{
    margin-left: -400px;   
}
.DEV{
    margin-top: -90px;
}
.PDT{
    margin-right: -800px;
    margin-top: -110px;
}
.designtxt {
    display: none;
}
.devtxt {
    display: none;
}
.prodtxt {
    display: none;
}
.port{
    padding-top: 100px;
    margin-left: -800px;
}
.portfolio img{
    margin-left: -800px;
    padding-top: 20px;
    width: 320px;
    
}
 .contact-section{
    top: 100px;
    background-image: url("images/c_image.jpg");
    position: relative;
    background-repeat: no-repeat;
    margin-left: 0px;
    

}
.lecont{
    padding-top: 60px;
    position: relative;
    color: white;
}

#name{
    height: 50px;
    width: 600px;
    background-color: transparent;
    border: 1px solid white;
    padding-bottom: 30px;
    color: white;
}
#email{
    height: 50px;
    width: 600px;
    padding-bottom: 30px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    
}
.form-control{
    height: 300px;
    background-color: transparent;
    margin-top: 50px;
    width: 1200px;
    margin-left: 50px;
    color: white;
}